<ion-navbar *navbar>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Bicicleteria</ion-title>
</ion-navbar>

<ion-content class="bicicleteria_detalle">

  <ion-card *ngIf="selectedItem">

    <img src="upload/bicicleteria.jpg">

    <ion-item class="info">
      <ion-row>
        <ion-col>
          <span class="nombre">{{selectedItem.name}}</span>
        </ion-col>
        <ion-col class="rate">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>

    <hr />

    <ion-row>
      <ion-col width-50>
        <ion-item class="horario">
          <div (click)="toggleHorario()">
            <h2>Horarios&nbsp;</h2>
            <ion-icon *ngIf="mostrarHorario" name="arrow-up"></ion-icon>
            <ion-icon *ngIf="!mostrarHorario" name="arrow-down"></ion-icon>
          </div>
          <div *ngIf="mostrarHorario">
            <ion-row>
              <p item-left>L a V:&nbsp;</p>
              <p item-right>8 a 20 hs</p>
            </ion-row>
            <ion-row>
              <p item-left>Sabado:&nbsp;</p>
              <p item-right>10 a 18 hs</p>
            </ion-row>
            <ion-row>
              <p item-left>Domingo:&nbsp;</p>
              <p item-right>Cerrados</p>
            </ion-row>
          </div>
        </ion-item>
      </ion-col>
      <ion-col width-50 class="estado">
        <span class="estado-abierto">Abierto</span>
      </ion-col>
    </ion-row>

    <hr />

    <button fab fab-right fab-top>
      <ion-icon name="call"></ion-icon>
    </button>

      <ion-row class="servicios">
        <ion-col width-33>
          <button primary clear>
            <ion-icon name="basket"></ion-icon>
            <div>Venta</div>
          </button>
        </ion-col>
        <ion-col width-33>
          <button primary clear>
            <ion-icon name="build"></ion-icon>
            <div>Rep.</div>
          </button>
        </ion-col>
        <ion-col width-33>
          <button primary clear>
            <ion-icon name="shirt"></ion-icon>
            <div>Ind.</div>
          </button>
        </ion-col>
      </ion-row>

    <hr />

    <ion-item>
      <span item-left>Av. Callao 1337</span>
      <span item-right><ion-icon name="navigate"></ion-icon> (2.6 Km)</span>
    </ion-item>

    <img src="upload/mapa.gif">

  </ion-card>

</ion-content>
