<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Bicicleterias</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="#bicicleteria of bicicleterias" (click)="itemTapped($event, bicicleteria)">
      <ion-thumbnail item-left>
        <img src="http://lorempixel.com/image_output/abstract-q-c-56-56-8.jpg">
      </ion-thumbnail>
      <h2>{{bicicleteria.name}}</h2>
      <p>
        {{bicicleteria.desc}}
      </p>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{bicicleteria.name}}</b>
  </div>
</ion-content>
